# build artifacts
/build/
/cmake-build-*/
/out/
/.cache/

# Conan
/conan.lock
/conan/cache/
/**/conan-build/

# IDEs
/.vscode/
/.idea/

# clang tools
/compile_commands.json

# Python
__pycache__/
.venv/
.pytest_cache/
dist/
build/
*.egg-info/

# OS
.DS_Store
Thumbs.db
